.idea
__pycache__
data/raw_DAS
data/test_data
data/synthetic_DAS
data/training_data

experiments/01_ablation_horizontal/denoisedDAS
experiments/03_accumulation_horizontal/denoisedDAS
experiments/07_retrained_combined200/denoisedDAS
experiments/11_vanende/denoisedDAS
experiments/12_vanende_finetuned_cryo/denoisedDAS
experiments/13_isken_filter/denoisedDAS
experiments/14_julius_filter/denoisedDAS
experiments/15_DASDL/denoisedDAS

experiments/07_retrained_combined200/plots

experiments/15_DASDL/DASDL_models
experiments/15_DASDL/plots
experiments/15_DASDL/denoisedDAS_omar

data/raw_DAS_image

plots/comparison


