.idea
__pycache__
data/raw_DAS
data/test_data
data/synthetic_DAS
data/training_data

not_public

experiments/01_ablation_horizontal/denoisedDAS
experiments/02_accumulation_horizontal/denoisedDAS
experiments/03_combined200/denoisedDAS
experiments/11_vanende_earth/denoisedDAS
experiments/12_vanende_finetuned_cryo/denoisedDAS
experiments/13_afk/denoisedDAS
experiments/14_conventional/denoisedDAS
experiments/15_DASDL/denoisedDAS
experiments/15_DASDL/denoisedDAS_old
experiments/15_DASDL/test_data
experiments/15_DASDL/cwt_scale_data_image
experiments/15_DASDL/denoisedDAS_image

experiments/07_retrained_combined200/plots

experiments/15_DASDL/DASDL_models
experiments/15_DASDL/plots
experiments/15_DASDL/denoisedDAS_omar
experiments/15_DASDL/cwt_scale_data

data/raw_DAS_image

plots/comparison


