.idea
__pycache__


not_public

data/raw_DAS
data/raw_DAS_image
data/test_data
data/synthetic_DAS
data/training_data

experiments/01_ablation/denoisedDAS

experiments/02_accumulation/denoisedDAS
experiments/02_accumulation/denoisedDAS_image

experiments/03_combined200/denoisedDAS

experiments/11_vanende_earth/denoisedDAS
experiments/11_vanende_earth/denoisedDAS_image

experiments/12_vanende_finetuned_cryo/denoisedDAS
experiments/12_vanende_finetuned_cryo/denoisedDAS_image

experiments/13_afk/denoisedDAS
experiments/13_afk/denoisedDAS_image

experiments/14_conventional/denoisedDAS
experiments/14_conventional/denoisedDAS_image

experiments/15_DASDL/cwt_scale_data
experiments/15_DASDL/cwt_scale_data_image
experiments/15_DASDL/DASDL_models
experiments/15_DASDL/denoisedDAS
experiments/15_DASDL/denoisedDAS_image
experiments/15_DASDL/test_data
experiments/15_DASDL/training_data
